body.dark{
background: #121111 !important;
}
.none{
display:none !important;
}
body a, body a:active, body a:hover, body a:visited{
text-decoration: none;
color: #eee;
}
.grid.grid-about{
max-width: 960px;



}
.cv-section-title{
color: #aaa;
}

.cv-section-title img {
    float: left;
    display: block;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #dadada;
    width:140px;
}





.cv-section-title h1 small {
    font-size: 24px;
    line-height: 48px;
    text-transform: uppercase;
    display: block;
    
}

.personal-info{
text-align: right;
}

.personal-info p{
margin-bottom: .3rem;
}

.personal-info p a{
color: #eee;
}
.personal-info p a:hover, .personal-info p a:active {

text-decoration:none;
}

.cv-section {
    border-top: 1px solid #dadada;
    padding: 15px 0;
}



.cv-item {
    border-bottom: 1px solid #dadada;
    padding-bottom: 40px;
	margin-bottom: 40px;
	color: #eee;
}
.cv-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.cv-item:hover .period {
    background-color: #fdb020;
}

.period {
    float: right;
    padding: 12px 20px;
    background-color: #b1b1b1;
    color: #fff;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    text-transform: uppercase;
}
